body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
		'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
		monospace;
}

@import url(//db.onlinewebfonts.com/c/ac6286065aab4824af64a06aa5467f04?family=Swiss);
@font-face {
	font-family: 'Swiss 721';
	src: url('//db.onlinewebfonts.com/t/ac6286065aab4824af64a06aa5467f04.eot');
	src: url('//db.onlinewebfonts.com/t/ac6286065aab4824af64a06aa5467f04.eot?#iefix')
			format('embedded-opentype'),
		url('//db.onlinewebfonts.com/t/ac6286065aab4824af64a06aa5467f04.woff2')
			format('woff2'),
		url('//db.onlinewebfonts.com/t/ac6286065aab4824af64a06aa5467f04.woff')
			format('woff'),
		url('//db.onlinewebfonts.com/t/ac6286065aab4824af64a06aa5467f04.ttf')
			format('truetype'),
		url('//db.onlinewebfonts.com/t/ac6286065aab4824af64a06aa5467f04.svg#Swiss 721')
			format('svg');
}
